body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.App {
  text-align: center;
  padding: 20px;
}

header {
  background:transparent;
  color: white;
  padding: 15px 0;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 1.5rem;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.event-card {
  
  background: linear-gradient(300deg, #29c5f9, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;


  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.register-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.register-btn:hover {
  background: #0056b3;
}

.message {
  margin-top: 10px;
  font-weight: bold;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.register-form input {
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

body{
  background-image: url(./ev.jpg);
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  
  
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
   